// app global css in SCSS form
// app global css in SCSS form
body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Arial,
    sans-serif;

  /* Firefox */
  scrollbar-width: none;

  /* IE / Edge */
  -ms-overflow-style: none;
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/*蓝黄配色*/
:root {
  --primary: #3b82f6;
  --primary-soft: rgba(59, 130, 246, 0.14);

  --accent: #facc15;
  --accent-soft: rgba(250, 204, 21, 0.18);

  --text-main: #1e1f22;
  --text-secondary: #6b7280;
  --text-invert: #ffffff;

  --bg-main: #f6f7fb;
  --bg-panel: #ffffff;
  --bg-hover: #eef2ff;
  --bg-input: #eef1f5;
  --bg-footer: #0f172a;
  --bg-bottom: #f8fafc;

  --border-color: #e5e7eb;
  --shadow-main: 0 10px 30px rgba(0, 0, 0, 0.08),
                 0 2px 10px rgba(0, 0, 0, 0.04);

  --mask-bg: rgba(246, 247, 251, 0.6);
  --scrollbar-thumb: rgba(0, 0, 0, 0.2);

  --silder: #3b82f6;
}

html[data-theme="dark"] {
  --bg-main: #121212;
  --bg-panel: #1e1e1e;
  --bg-hover: #2a2a2a;

  --text-main: #eaeaea;
  --text-secondary: #9a9a9a;

  --mask-bg: rgba(0, 0, 0, 0.45);
}